workspace.xml
generate-sources.log
.surefire*
target
*.iml
modules.xml
vcs.xml
compiler.xml
misc.xml
encodings.xml
libraries
inspectionProfiles
ansible.cfg

**/.surefire-*
**/target/*
**/.classpath
**/.settings/*
**/.project

.idea
.vscode
.DS_Store
